.cart {
    width: 15%;
    padding: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.burbuja {
    border-radius: 50%;
    background-color: white;
    width: 1rem;
}

.cant {
    display: flex;
    justify-content: center;
    align-items: center;
}